 @import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400&family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;1,100;1,400&family=Reem+Kufi+Fun:wght@400;500;600;700&family=Roboto:wght@100;300&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* body{ 
    background-image: url('https://assets.telegraphindia.com/telegraph/2022/Feb/1644781493_bus.jpg');*/
     */
    
    /* background: linear-gradient(45deg, #010758,#490d61); */
     
    /* background-repeat: no-repeat;
    background-size: cover;
}

.main{ */
    /*background-color:#5874d1 ;*/
    /* margin-top: -16px;
    margin-left: -16px;
    margin-right: -15px;
    padding-bottom: 400px;
   
} */
   
h2{
    padding-top: 60px;
    font-size: 60px;
    color:#ff2963;
} 
 .from{
    color:#ff2963;
    font-size: 25px;
}
.to{
    color:#ff2963;
    font-size: 25px;
}
.input{
    padding-top: 100px;
    
}
.box{
    border-radius: 5px;
    width: 24%;
    padding: 5px;
}
.destination{
    margin-top: 13px;
    margin-left: 20px;
}
.submit{
    margin: 15px;
    margin-left: 60px;
    padding: 3px;
    border-radius: 5px;
    
} 
