*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
.img{
    height: 35%;
    width: 35%;
    margin-top: 80px;
   border-radius: 8px;
}
.btn{
    margin-top: 40px;
    padding: 25px;
    font-size: 25px;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    
}
.buttonList{
    margin-top: 30px;
    display: flex;
    gap:20px;
    justify-content: space-between;
}
.PS{
   padding: 5px;
   border-radius: 6px;
   margin-left: 10%;
   background-color: black;
   color: whitesmoke;
}
.CS{
    padding: 5px;
    border-radius: 6px;
    background-color: black;
    color: whitesmoke;
}
    

.NS{
    padding: 5px;
    border-radius: 6px;
    margin-right: 10%;
    background-color: black;
    color: whitesmoke;

}

